body {
  margin: 0;
  background-color: #004D40;
}

.App-logo {
  width: 64px;
  height: auto;
  margin: 8px;
}

.App-header {
  background-color: #00251f;
  height: 80px;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: row;
}

.types-button {
  height: 48px;
  padding: .375rem 1.75rem .375rem .75rem;
  margin: 16px;
  font-size: 1rem;
  border-radius: 0.25em;
  border-color: #004D40;
  background-color: #004D40;
}

.pokemon-card {
  width: 192px;
  height: 192px;
  background-color: #006655;
}